# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db
desktop.ini

# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual Environments
# -------------------------
venv/
.env/

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
*.log
